name: Daily Sprint Report
on:
  schedule:
    - cron: '5 3 * * *' # 8:30 AM VN
  workflow_dispatch:

jobs:
  send_report:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install pandas requests gspread
      
      - name: Run report script
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
          GSHEETS_URL: ${{ secrets.GSHEETS_URL }}
          GCP_SERVICE_ACCOUNT: ${{ secrets.GCP_SERVICE_ACCOUNT }}
        run: python send_discord_auto.py
